{% extends "base.html" %}
{% block head %}
    <title>Welcome!</title>
{% endblock %}

{% block headingmessage %}
<h1 id="title">Jason Boyer's Blog App Front Page</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label>
            <div>Title</div>
            <input type="text" name="title" value = "{{title}}">
        </label>

        <label>
            <div>Article</div>
            <textarea name="article-body">{{article}}</textarea>
        </label>
        <div class="error">{{error}}</div>
        <button type="submit">Submit</button>
    </form>


    <hr>

    {% for article in articles %}
        <div class = "article-style">
            <div class="article-title">{{article.title}}</div>
            <div class="article-date">{{article.created.date().strftime('%A, %B %d, %Y')}}</div>
            <hr>
            <pre class="article-body">{{article.article}}</pre>
        </div>
    {% endfor %}
{% endblock %}
